:root {
  --main: #4d074d;
  --light: #bf75fc;
  --mainwhite: #d6d2d8;
  --maindark: #17011d;
  --mainblue: #0e0594;
  --mainred: #940530;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--maindark) !important;
}

.text-title {
  font-family: "Blinker", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.text-main {
  color: var(--main);
}

.text-bright {
  color: var(--light);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.6rem !important;
  color: var(--maindark);
  border-radius: 20px !important;
  border: 0.1rem solid var(--maindark) !important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--maindark) !important;
  color: var(--mainwhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1rem;
  color: var(--mainred);
}
